body {
    background-image: url(../img/cont4_bg.jpg);
    min-width: 1200px;
}

.container {
    color: #f3cc00;
    transform: scale(0.95);
    left: -150px;
}

#phone {
    width: 100%;
    height: 100%;
    transform: scale(0.86);
}

#canvas {
    position: absolute;
    top: -160px;
    left: 119px;
    transform: scale(0.51);
}

#app {
    position: absolute;
    right: -180px;
    top: 50px;
    width: 400px;
}

input {
    width: 100%;
    margin: 20px;
}

.dwn-btn {
    background-color: #f3cc00 !important;
    border: none !important;
    color: black !important;
}

select {
    background-color: #f3cc00;
    color: black;
    border: none;
    outline: none;
}

select:focus {
    border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    background: #7c6101;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: #f3cc00;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f3cc00;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #7c6101; 
}

::-webkit-scrollbar-thumb {
    background: #f3cc00; 
}

#logo {
    position: absolute;
    left: 50px;
    top: 180px;
}
