@media only screen and (min-width: 900px) {
    body {
        overflow: hidden;
    }
}

@media only screen and (max-width: 900px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}


body {
    background-image: url(../img/cont4_bg.jpg);
    color: #f3cc00;
}

.container {
    margin-top: 50px;
}

#preview {
    background-image: url(../img/phone.png);
    width: 340px;
    height: 640px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

canvas {
    transform: scale(0.4);
    top: -320px;
    position: relative;
    left: -189px;
}

.dwn-btn {
    background-color: #f3cc00 !important;
    border: none !important;
    color: black !important;
}

select {
    background-color: #f3cc00;
    color: black;
    border: none;
    outline: none;
}

select:focus {
    border: none;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;   
    background: #7c6101;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: #f3cc00;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f3cc00;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #7c6101; 
}

::-webkit-scrollbar-thumb {
    background: #f3cc00; 
}