<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fire Emblem Heroes Backgrounds">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="img/thumbnail.jpg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FEH BG Generator</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="preview" class="six columns">
                <canvas id="canvas"></canvas>
            </div>
            <div id="app" class="six columns">
                <div class="row">
                    <div class="six columns">
                        <label>Hero Portrait</label>
                        <select @change="render()" v-model="heroP" :disabled="disabled" :class="{ disabled: disabled }" class="u-full-width">
                            <option v-for="hero in heroes" :value="hero.replace(/\s/g, '_').replace(/\:/g, '')">{{hero}}</option>
                        </select>
                    </div>
                    <div class="six columns">
                        <label>Background</label>
                        <select @change="render()" v-model="bgImage" :disabled="disabled" :class="{ disabled: disabled }" class="u-full-width">
                            <option v-for="(bg, i) in bgList" :value="i">{{bg}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="six columns">
                        <label>Hero Attack</label>
                        <select @change="render()" v-model="heroA" :disabled="disabled" :class="{ disabled: disabled }" class="u-full-width">
                            <option v-for="hero in heroes" :value="hero.replace(/\s/g, '_').replace(/\:/g, '')">{{hero}}</option>
                        </select>
                    </div>
                    <div class="six columns">
                        <label for="">Click to download</label>
                        <a @click="download(this.download);" id="download"><input type="button" value="Download (720x1280)" :disabled="disabled" :class="{ disabled: disabled }" class="dwn-btn u-full-width"></a>
                    </div>
                </div>
                
                
                <label>Background Opacity</label>
                <input type="range" v-model="op" @change="render()" min="0" max="1" step="0.1" :disabled="disabled">
                <label>Portrait Sprite Position X</label>
                <input type="range" v-model="pPosX" @change="render()" min="-500" max="0" step="1" :disabled="disabled">
                <label>Portrait Sprite Position Y</label>
                <input type="range" v-model="pPosY" @change="render()" min="-500" max="500" step="1" :disabled="disabled">
                <label>Portrait Sprite Size</label>
                <input type="range" v-model="pWidth" @change="render()" min="0" max="1600" step="1" :disabled="disabled">
                <label>Attack Sprite Position X</label>
                <input type="range" v-model="aPosX" @change="render()" min="-500" max="500" step="1" :disabled="disabled">
                <label>Attack Sprite Position Y</label>
                <input type="range" v-model="aPosY" @change="render()" min="-500" max="500" step="1" :disabled="disabled">
                <label>Attack Sprite Size</label>
                <input type="range" v-model="aWidth" @change="render()" min="0" max="1600" step="1" :disabled="disabled">
                <label>Logo Position X</label>
                <input type="range" v-model="logoPosX" @change="render()" min="-500" max="500" step="1" :disabled="disabled">
                <label>Logo Position Y</label>
                <input type="range" v-model="logoPosY" @change="render()" min="0" max="1280" step="1" :disabled="disabled"><br>
            </div>
        </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/heroes.js"></script>
    <script src="js/app.js"></script>
</body>
</html>